@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .file-input {
        @apply block w-96 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none;
    }
    .orange-button {
        @apply bg-primary py-2 p-4 text-white rounded rounded-lg disabled:bg-gray-500 text-xl
    }
    .info-text {
        @apply w-full text-base md:w-3/4 md:text-2xl
    }
    .header-text {
        @apply text-2xl font-bold md:text-5xl
    }

}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}